.footer{
    background-color: #fbfbfb;
    padding-left: 50px;
    padding-top: 40px;
    display: flex;
    
}


#fistpart{
    background-color: #fbfbfb;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    h3 {
    color: #666; 
    font-weight: 400;
        }

}

/* .secondpart{
    display: flex;
  
} */